.DS_Store
__pycache__
*.pyc
*.pyo
*.log
env/*
*.egg/*
build/*
dist/*
*.egg
*egg-info/*
pyright.json
.benchmarks
**/.mypy_cache/
.pytest_cache
**/env/*
.report/
.report/**
*.pid
**/build/**
.db/*
/*.svg
/*.png
/*.jpg
/*.jpeg
/*.webp
*.agz
*.pkg
minikube-linux*
*.csvb
**/target/**
apikit.spec
apikit
apikit_old
apikit_new
apikit.ini
.db/
TODO.md
